In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [24]:
name = "202010-citibike-tripdata.csv/202010-citibike-tripdata.csv"
df = pd.read_csv(f"../datalake/csv/{name}")

In [27]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1403,2020-10-01 00:00:10.7870,2020-10-01 00:23:34.5400,224,Spruce St & Nassau St,40.711464,-74.005524,3347,Van Brunt St & Wolcott St,40.677343,-74.012751,39079,Subscriber,1995,1
1,462,2020-10-01 00:00:18.2390,2020-10-01 00:08:00.5710,3161,W 76 St & Columbus Ave,40.780184,-73.977285,3158,W 63 St & Broadway,40.771639,-73.982614,41267,Subscriber,1998,2
2,770,2020-10-01 00:00:21.3070,2020-10-01 00:13:12.0840,354,Emerson Pl & Myrtle Ave,40.693631,-73.962236,3761,Cedar St & Myrtle Ave,40.697842,-73.926241,47398,Customer,1996,1
3,233,2020-10-01 00:00:25.0080,2020-10-01 00:04:18.6410,3141,1 Ave & E 68 St,40.765005,-73.958185,464,E 56 St & 3 Ave,40.759345,-73.967597,36482,Subscriber,1993,1
4,126,2020-10-01 00:00:25.3100,2020-10-01 00:02:32.1330,335,Washington Pl & Broadway,40.729039,-73.994046,229,Great Jones St,40.727434,-73.993790,45319,Subscriber,1989,1

## Unique values

In [17]:
df.apply(lambda x: x.dtype)

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [26]:
df["gender"].unique()

array([1, 2, 0])

In [35]:
print(df["start station id"].min())
print(df["end station id"].min())

72
72

In [36]:
print(df["start station id"].max())
print(df["end station id"].max())

4230
4230

In [51]:
print(df["bikeid"].min())
print(df["bikeid"].max())

14529
48703

In [46]:
df["end station name"].value_counts()

W 21 St & 6 Ave             12105
1 Ave & E 68 St             11914
E 17 St & Broadway          10863
West St & Chambers St       10769
E 13 St & Avenue A          10531
                            ...
Montgomery St                   1
Charlotte St & Boston Rd        1
Paulus Hook                     1
Glenwood Ave                    1
Garrison Ave & Manida St        1
Name: end station name, Length: 1163, dtype: int64

In [48]:
df["birth year"].value_counts()

1969    263400
1990    112907
1992     94740
1991     93233
1993     88255
         ...
1873         2
1927         2
1902         1
1905         1
1920         1
Name: birth year, Length: 107, dtype: int64

In [50]:
df["usertype"].unique()

array(['Subscriber', 'Customer'], dtype=object)

TODO:
- Explore `birth year` for inconsistencies

## Types

- gender: ENUM
- tripduration: INTEGER
- bike id: INTEGER
- start station id: INTEGER
- end station id: INTEGER
- end station name: STRING
- start station latitude: FLOAT
- start station longitude: FLOAT
- end station latitude: FLOAT
- end station longitude: FLOAT
- birth year: INTEGER
- usertype: ENUM
- starttime: DATE
- endtime: DATE

## Null values

In [16]:
df.apply(lambda x: x.isnull().sum())

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64